body{
    height: 100%;
    margin: 0;
    background-color: #4b575d;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 50px auto auto;
    width: 800px;
    padding-bottom: 30px;
    background:  #282c34;
    border-radius: 25px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 30px;
}
.underline{
    width: 350px;
    height: 6px;
    background: #4b575d;
}

.text{
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}
.input{
    display: flex;
    align-items: center;
    width: 400px;
    height: 70px;
    background: #eaeaea;
    border-radius: 10px;
    margin-bottom: 2px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #2f2d2d;
    font-size: 18px;
}
.currentLocation{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 5px;


}
.currentButton{
    background: #4b575d;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    width: 150px;
    height: 55px;
}
.text1{
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 40;
}
.leaflet-container{
    height: 400px;
    width: 90%;
    border: 2px solid #0e0e0e;
    border-radius: 20px;
    margin: 4vh auto;
}
.error{
    margin: auto;
    width: 400px;
    height: 110px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.latitudeError
{
    left: 0;
    background-color: #ffcccc;
    padding: 5px;
    width: 390px;
    border-radius: 6px;
}
.placeholder{
    padding-right: 2px;
}
.placeholder text{
    color: #4b575d;
}
.confirm{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 5px;
}
.confirmButton{
    background: #4b575d;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    width: 230px;
    height: 100px;
}
